@import "theme"; // 主色
@import "mixin"; // 重用功能
@import "normalize";
@import "./coverElement/index"; // 覆盖Element
.clearfix {
  // 清除浮动
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

/* 模块公用 淡出效果 */

.tp-ani-enter-active {
  transition: all 1.5s ease;
}

.tp-ani-leave-active {
  display: none;
}

.tp-ani-enter {
  transform: translateY(-15px);
  opacity: 0;
}

/* 下拉效果  */

.tp-select-enter-active {
  transition: all 0.5s ease;
}

.tp-select-leave-active {
  opacity: 0;
}

.tp-select-enter {
  transform: translateY(20px);
  opacity: 0;
}

//全局element组件按钮颜色 el-button
.el-button--primary {
  background: #2993f8;
  border-color: #2993f8;
}

/* 下拉全局样式 */

.el-dropdown.selected_dropdown {
  max-width: 100px;
  vertical-align: middle;
  height: 30px;
  padding-right: 20px; //select选择框被禁用 样式
  &.disabled {
    background-color: #eef1f6;
    cursor: not-allowed;
    &:hover {
      .iconfont {
        transform: rotate(0deg) !important;
      }
    }
  }
  >.el-dropdown-link {
    display: inline-block;
    max-width: 100px;
    padding-right: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bold;
    height: 30px;
    color: #333;
    line-height: 30px;
    overflow: hidden;
    position: relative;
    text-align: center;
    min-width: 55px;
    &:hover+.iconfont {
      transform: rotate(180deg);
    }
  }
  >.iconfont,
  >.el-icon-circle-close {
    position: absolute;
    right: 0;
    top: 4px;
    font-size: 20px;
    color: #999;
  }
  >.iconfont {
    transition: all .3s;
  }
  .el-icon-circle-close {
    font-size: 14px;
    color: #ccc;
    top: 8px;
    cursor: pointer;
    &:hover {
      color: #2993f8;
    }
  }
  &.placeholder {
    .el-dropdown-link {
      color: #666;
    }
  }
}

.el-dropdown-menu {
  padding: 0;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) !important;
  border-radius: 5px;
  border: 0 none;
  &.layout-drop-item {
    &:after {
      content: '';
      border: 6px solid transparent;
      border-bottom-color: #fff;
      width: 0;
      height: 0;
      position: absolute;
      top: -12px;
      left: 50%;
      margin-left: -3px;
    }
    li {
      &:first-child {
        border-radius: 5px 5px 0 0;
      }
      &:last-child {
        border-radius: 0 0 5px 5px;
        border-bottom: 0 none;
      }
      max-width: 160px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: 13px;
      color: #666;
      height: 40px;
      line-height: 40px;
      transition:all .3s;
      border-bottom: 1px solid #f1f2f3;
      &:hover {
        background-color: #f6f7f8 !important;
      }
      &:hover {
        color: #2993f8;
      }
      &.active {}
    }
    .max-selected-item {
      max-height: 230px;
      overflow: hidden;
      overflow-y: auto;
    }
  }
  &.search-drop-item {
    min-width: 60px;
  }
}

// 兼容浏览器的flex布局
.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.flex-v {
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}


// -----------------------
// 全局共用的flex布局
.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.flex-v {
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-r {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.flex-1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}


// -----------------------
// 全局共用的flex布局
.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.flex-v {
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-r {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.flex-1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.flex-align-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-pack-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.flex-pack-justify {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.testClass{
  position: absolute;
  top: 352px;
  transform: translateX(-1000px);
}

// 所有模块内容
.xj-right-box{
  width: 1250px; margin:0 auto;
}
.xj-box-shadow{
  box-shadow: 0px 0 15px #e2e2e2;
}
// 通用按钮
.xj-btn-defult{
    display: inline-block;
    height: 28px;
    line-height: 29px;
    font-size: 14px;
    border-radius: 4px;
    background: #2993f8;
    color: #fff;
    text-align: center;
    cursor: pointer;
    padding: 0 12px;
    transition: all .3s;
    &:hover {
        background: #4db3ff;
    }
}
// 所有的按钮样式
.xj-btn-list {
    display: flex;
    justify-content: center;
    // 普通按钮
    .btn {
        width: 90px;
        height: 28px;
        line-height: 29px;
        font-size: 14px;
        border-radius: 4px;
        background: #2993f8;
        color: #fff;
        text-align: center;
        margin-right: 10px;
        cursor: pointer;
        transition: all .3s;
        &:hover {
            background: #4db3ff;
        }
    }
    .cnacel-btn{
        border: 1px solid #d6d6d6;
        background: #fff;
        color: #333;
        transition: all .3s;
        &:hover {
            border: 1px solid #2993f8;
            background: #fff;
            color: #2993f8;
        }
    }
    .cnacel-btn-c{
        border: 1px solid #d6d6d6;
        background: #fff;
        color: #2993f8;
        transition: all .3s;
        &:hover {
            border: 1px solid #2993f8;
            background: #fff;
            color: #2993f8;
        }
    }
    // 带背景色变动按钮
    .btn-bg {
        width: 90px;
        height: 28px;
        line-height: 29px;
        font-size: 14px;
        border-radius: 4px;
        background: #F1F2F3;
        color: #666;
        text-align: center;
        margin-right: 10px;
        cursor: pointer;
        transition: all .3s;
        &:hover {
            color: #fff;
            background: #2993f8;
        }
    }
    .actions-bg{
      color: #fff;
      background: #2993f8;
    }
    .cnacel-btn-bg{
        border: 1px solid #d6d6d6;
        background: #fff;
        background: #2993f8;
        color: #FFF;
        transition: all .3s;
        &:hover {
            background: #4db3ff;
        }
    }

    li:last-child{
      margin-right: 0;
    }
}
// icon和文字组合
.side-nav{
    height:inherit;
    line-height: 50px;
    float: left;
    
    >i{ margin-right: 7px; color:#2993f8;}
}

input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{
        -webkit-appearance:textfield;
}
input[type="number"]{
        -moz-appearance:textfield;
}
// 必填icon
.mandatory-icon{
  color: red;
}

/* 日期控件 */
.xj-time-box{
    display: inline-block;
    width: 168px;
    border:1px solid #d6d6d6;
    border-radius: 5px;
    height: 28px;
    vertical-align: middle;
    overflow: hidden;
    background-color: #fff;
    margin-left: 15px;
    >.time-inner{
      height: 28px;
      display: flex;
      width: 100%;
      >.center-tit{
        font-size: 12px;
        height: 30px;
        color: #757575;
        font-weight: bold;
        line-height: 30px;
      }
      >.block{
          flex: 1;
          // float: left;
          margin-top: 3px;
          position: relative;
          display: inline-block;
          margin-left: 0!important;
          
          .el-input__icon{
             display: none;
          }
          .el-input__inner{
              padding: 0!important;
              text-align: center;
              color: #2993f8;
              background-color:transparent;
              font-weight: bold;
              letter-spacing: -1px;
          }
          
          &.until:after{
              content: attr(data-txt);
              position: absolute;
              right : -6px;
              top:4px;
              font-size: 12px;
              color: #666;
          }
      }
    }
    .el-date-editor{ width: 100%;}
}
.ml-10{
  margin-left: 10px;
}
// 弹窗关闭按钮
.p-close-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  height: 20px;
  width: 20px;
  cursor: pointer;
  >i {
    color: #bfcbd9;
  }
}
// 新弹窗外壳
.n-p-scroll-box{
  height: 100%;
  width: 700px;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  .scroll-body {
    flex: 1;
    // height: 660px;
    >h3 {
      line-height: 1;
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 20px;
      color: #333;
    }
    .scroll-box {
      height: 610px;
      width: 100%;
      white-space: nowrap;
    }
  }
}
.xj-input{
  height: 36px;
  background-color: transparent;
  font-size: 14px;
  padding-left: 10px;
  border-radius: 3px;
  border: 1px solid #dedede;
  &:active,
  &:hover,
  &:focus {
    border: 1px solid #2993f8;
    background-color: #f4f9ff;
  }
}