$main-color: #2993f8;
// 字体主色
$font-color-deep: #333;
$font-color-normal: #666;
$font-color-neutral: #999;
$font-color-tint: #d6d6d6;
// 背景
$bg-100: #f4f9ff; // 按钮背景
$B1: #d6d6d6;

$BS-1: 0 0 15px #d7d7d7;