
.addDig {
    width: 320px;
    height: 255px;
    border-radius:10px;
    .el-dialog__header {
        height: 41px;
    }
    .title {
        width: 280px;
        // width: 46px;
        position: absolute;
        left: 50%;
        margin-left: -140px;
        text-align: center;
        z-index: -1;
        img {
            width: 46px;
            height: 46px;
            margin:0 auto;
        }
        &>div {
            font-size: 14px;
            color: #333;
            margin-top: 15px;
            font-weight: bold;
        }
    }
    .body {
        margin-top: 70px;
        margin-bottom: 30px;
        input {
            width: 268px;
            height: 36px;
            display: block;
            margin: 0 auto;
            background:#f6f7f8;
            border-radius: 4px;
            padding-left: 23px;
            border: 1px solid #fff;
        }
        input:hover {
            border: 1px solid #2993f8;
        }
    }
    .body1 {
        margin-top: 50px;
        margin-bottom: 30px;
        height: 58px;
        .body1-wrap {
            margin: 0 auto;
            width: 268px;
            height: 36px;
            input {
                width: 166px;
                height: 36px;
                display: block;
                background:#f6f7f8;
                border-radius: 4px;
                padding-left: 23px;
                float:left;
            }
            .input1 {
                width: 268px;
                height: 36px;
                display: block;
                background:#f6f7f8;
                border-radius: 4px;
                padding-left: 23px;
                float:left;
            }
            .el-select {
                float: right;
                width: 90px;
                height: 36px;
                .el-input {
                    position: relative;
                    width: 90px;
                        height: 36px;
                    .el-input__icon {
                        right: 0;
                        top: 20px;
                        font-size: 10px;
                        width: 20px;
                    }
                    .el-input__inner {
                        width: 90px;
                        height: 36px;
                        padding-right: 20px;
                        padding-left: 10px;
                    }
                }
            }
        }
        .explain {
            margin-top: 10px;
            text-indent: 20px;
            font-size: 12px;
            padding: 0 10px;
        }
        
    }
    .foot {
        .ope-btn {
            width: 150px;
            height: 28px;
            border-radius: 4px;
            background:#2993f8;
            margin: 0 auto;
            color: #fff;
            font-weight: bold;
            line-height: 28px;
            text-align: center;
            cursor: pointer;
        }
    }
}
.successDig {
    width: 320px;
    height: 255px;
    border-radius:10px;
    .title {
        width: 72px;
        position: absolute;
        top: 20px;
        left: 50%;
        margin-left: -36px;
    }
    .body {
        margin-top: 54px;
        padding-top: 20px;
        .btn {
            margin-top: 20px;
            width: 280px;
            height: 28px;
            background:#2993f8;
            color:#fff;
            border-radius: 4px;
            text-align: center;
            line-height: 28px;
            cursor: pointer;
        }
    }
}
.margeDig {
    width: 300px;
    height: 500px;
    border-radius:10px;
    .title {
        width: 56px;
        position: absolute;
        left: 50%;
        margin-left: -24px;
        text-align: center;
        img {
            width: 46px;
            height: 46px;
        }
        &>div {
            font-size: 14px;
            color: #333;
            margin-top: 15px;
            font-weight: bold;
        }
    }
    .popup-main {
        //padding-top: 104px;
        width: 100%;
        height: 340px;
        position: absolute;
        top: 160px;
        left: 0;
        .left-list {
            height: 280px;
            width: 80px;
            border-right: 1px solid #ddd;
            float: left;
            overflow: auto;
            li {
                cursor: pointer;
                height: 40px;
                line-height: 40px;
                text-align: center;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
            li:hover {
                background:#f6f7f8;
            }
            li.active {
                color:#2993f8;
            }
        }
        .right-list {
            height: 280px;
            width: 220px;
            float: right;
            overflow: auto;
            li {
                cursor: pointer;
                height: 40px;
                line-height: 40px;
                text-align: center;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
            li:hover {
                background:#f6f7f8;
            }
            li.active {
                color:#2993f8;
            }
        }
        .footer {
            float: left;
            width: 100%;
            height: 60px;
            border-top: 1px solid #ddd;
            .btn {
                width: 48px; 
                height: 26px;
                border-radius: 4px;
                background:#2993f8;
                color:#fff;
                text-align: center;
                float: right;
                margin-right: 10px;
                margin-top: 17px;
                line-height: 26px;
                cursor: pointer;
            }
        }
    }
}

.operateDig {
    width: 320px;
    height: 530px;
    border-radius:10px;
    .title {
        width: 46px;
        position: absolute;
        left: 50%;
        margin-left: -24px;
        text-align: center;
        img {
            width: 46px;
            height: 46px;
        }
        &>div {
            font-size: 14px;
            color: #333;
            margin-top: 15px;
            font-weight: bold;
        }
    }
    .ope-body {
        margin-top: 104px;
        .input-block {
            width: 270px;
            height: 68px;
            margin: 0 auto;
            .input-block-title {
                height: 32px;
                i {
                    display: block;
                    float: left;
                    width: 3px;
                    height: 14px;
                    background:#2993f8;
                    font-size: 14px;
                    color: #333;
                    margin-right: 7px;
                    margin-top: 3px;
                }
                span {
                    float: left;
                    font-weight: bold;
                }
            }
            &>input {
                width: 268px;
                height: 36px;
                border-radius: 4px;
                background:#f6f7f8;
                padding-left: 15px;
                border: 1px solid #fff;
            }
            &>input:hover {
                border: 1px solid #2993f8;
            }
            .body1-wrap {
                margin: 0 auto;
                width: 268px;
                height: 36px;
                input {
                    width: 166px;
                    height: 36px;
                    display: block;
                    background:#f6f7f8;
                    border-radius: 4px;
                    padding-left: 23px;
                    float:left;
                    border: 1px solid #fff;
                }
                input:hover {
                    border: 1px solid #2993f8;
                }
                .el-select {
                    float: right;
                    width: 90px;
                    height: 36px;
                    .el-input {
                        position: relative;
                        width: 90px;
                            height: 36px;
                        .el-input__icon {
                            right: 0;
                            top: 20px;
                            font-size: 10px;
                            width: 20px;
                        }
                        .el-input__inner {
                            width: 90px;
                            height: 36px;
                            padding-right: 20px;
                            padding-left: 10px;
                        }
                    }
                }
            }
            
        }
        .btn-block {
            width: 270px;
            //height: 68px;
            margin: 0 auto;
            .radio1 {
                margin: 0 auto;
                width: 150px;
                height: 28px;
                font-size: 14px;
            }
            .marge {
                text-align: center;
                width: 100px;
                height: 28px;
                margin: 10px auto;
                cursor: pointer;
            }
            .marge:hover {
                color:#2993f8;
            }
            .ok-btn {
                width: 150px;
                height: 28px;
                border-radius: 4px;
                background:#2993f8;
                text-align:center;
                color:#fff;
                font-size: 14px;
                font-weight: bold;
                line-height: 28px;
                cursor: pointer;
                margin: 0 auto;
            }
        }
        .del-btn {
			cursor: pointer;
			height: 36px;
			width: 36px;
			background: url('./../../../../static/img/nor.png') no-repeat center center;
			position: absolute;
			right: 10px;
			bottom: 10px;
		}
		.del-btn:hover {
			background: url('./../../../../static/img/sel.png') no-repeat center center;
		}

    }
}

.product-class-dig-main {
    width: 640px;
    height: 560px;
    border-radius:10px;
    .title {
        width: 46px;
        position: absolute;
        left: 50%;
        margin-left: -24px;
        text-align: center;
        img {
            width: 46px;
            height: 46px;
        }
        &>div {
            font-size: 14px;
            color: #333;
            margin-top: 15px;
            font-weight: bold;
        }
    }
    .ope-body {
        margin-top: 104px;
        .input-block-left {
            width: 270px;
            display: inline-block;
            vertical-align: top;
            margin-left: 30px;
            .input-block-title {
                margin-top: 30px;
                height: 32px;
                i {
                    display: block;
                    float: left;
                    width: 3px;
                    height: 14px;
                    background:#2993f8;
                    font-size: 14px;
                    color: #333;
                    margin-right: 7px;
                    margin-top: 3px;
                }
                span {
                    float: left;
                    font-weight: bold;
                }
            }
            .input-block-title:first-child{
                margin-top: 0;
            }
            .textarea-wrap{
                position: relative;
                height: 70px;
                padding: 10px 10px 0 10px;
                border-radius: 2px;
                background-color: #f6f7f8;
                >textarea{
                    width: 100%;
                    height: 60px;
                    background-color: #f6f7f8;
                }
                >span{
                    position: absolute;
                    bottom: 5px;
                    right: 5px;
                    color: #666;
                    z-index: 10px;
                } 
            }
            &>input {
                width: 268px;
                height: 36px;
                border-radius: 4px;
                background:#f6f7f8;
                padding-left: 15px;
                border: 1px solid #fff;
            }
            &>input:hover {
                border: 1px solid #2993f8;
            }
            .body1-wrap {
                margin: 0 auto;
                width: 268px;
                height: 36px;
                input {
                    width: 166px;
                    height: 36px;
                    display: block;
                    background:#f6f7f8;
                    border-radius: 4px;
                    padding-left: 23px;
                    float:left;
                    border: 1px solid #fff;
                }
                input:hover {
                    border: 1px solid #2993f8;
                }
                .el-select {
                    float: right;
                    width: 90px;
                    height: 36px;
                    .el-input {
                        position: relative;
                        width: 90px;
                            height: 36px;
                        .el-input__icon {
                            right: 0;
                            top: 20px;
                            font-size: 10px;
                            width: 20px;
                        }
                        .el-input__inner {
                            width: 90px;
                            height: 36px;
                            padding-right: 20px;
                            padding-left: 10px;
                        }
                    }
                }
            }
            
        }
        .product-class-chart{
            display: inline-block;
            height: 230px;
            width: 270px;
            margin-left: 30px;
            margin-top: 20px;
            // margin:0 auto;
        }
        .p-c-btn-list{
            // border: 1px solid red;
            position: absolute;
            bottom: 30px;
            left: 0;
            right: 0;
            margin: auto;
            text-align: center;
            font-size: 0;
            li{
                width: 90px;
                height: 28px;
                display: inline-block;
                border-radius: 4px;
                background:#2993f8;
                text-align:center;
                color:#fff;
                font-size: 14px;
                font-weight: bold;
                line-height: 28px;
                cursor: pointer;
                margin: 0 10px;
                border: 1px solid #d6d6d6;
            }
            li:nth-child(3){
                background:#fff;
                color: #666;
            }
        }
    }
}

.certificateDig {
    width: 360px;
    height: 646px;
    border-radius:10px;
    
    .title {
        width: 280px;
        // width: 46px;
        position: absolute;
        left: 50%;
        margin-left: -140px;
        text-align: center;
        z-index: -1;
        img {
            width: 46px;
            height: 46px;
            margin:0 auto;
        }
        &>div {
            font-size: 14px;
            color: #333;
            margin-top: 15px;
            font-weight: bold;
        }
    }
    .opera-body {
        margin-top: 60px;
        .input-block-title {
            height: 32px;
            i {
                display: block;
                float: left;
                width: 3px;
                height: 14px;
                background:#2993f8;
                font-size: 14px;
                color: #333;
                margin-right: 7px;
                margin-top: 3px;
            }
            span {
                float: left;
                font-weight: bold;
            }
        }
        .ope-ul {
            &>li {
                height: 36px;
                margin-bottom: 24px;
                label {
                    font-size: 14px;
                    display: block;
                    text-align:justify;  
                    text-align-last:justify;  
                    width: 65px;
                    height: 36px;
                    line-height: 36px;
                    float: left;
                    margin-right: 27px;
                    position: relative;
                    i {
                        position: absolute;
                        font-style: normal;
                        right: -15px;
                        top: 0px;
                        color:#fe1010;
                        line-height: 36px;
                    }
                }
                input {
                    width:220px;
                    height: 36px;
                    float: left;
                    border-radius: 4px;
                    background:#f6f7f8;
                    overflow: hidden;
                }
            }
        }
        .ok-btn {
            width: 150px;
            height: 28px;
            border-radius: 4px;
            background:#2993f8;
            text-align:center;
            color:#fff;
            font-size: 14px;
            font-weight: bold;
            line-height: 28px;
            cursor: pointer;
            margin: 0 auto;
        }
        .del-btn {
			cursor: pointer;
			height: 36px;
			width: 36px;
			background: url('./../../../../static/img/nor.png') no-repeat center center;
			position: absolute;
			right: 10px;
			bottom: 10px;
		}
		.del-btn:hover {
			background: url('./../../../../static/img/sel.png') no-repeat center center;
		}
    }
}