.el-date-editor--daterange{
    width: 122px;
}
.el-date-editor{
    width: 125px;
}
.block{
    display: inline-block;
}
button {
    border: 0 !important;
    background: #4fdccb !important;
    font-size: 600 !important;
    height: 30px !important;
    line-height: 5px !important;
//    width: 70px !important;
}
