// 单选，多选
// 选择小圈圈 // 自定义
@import "~assets/css/template/fonts.scss";
.el-radio__input.is-checked .el-radio__inner{
    border-color: #fff;
    background: #fff;
    border-color: #2993f8;
}
.el-radio__inner::after{
    width: 8px;
    height: 8px;
    background-color: #2993f8;
}
.el-checkbox__input.is-focus .el-checkbox__inner{
    border-color: #bfcbd9;
}
.e-border-radio-5{
    display: inline-block;
    .el-checkbox-group .el-checkbox__inner{
        border-radius: 5px!important;
    }
    .el-checkbox__input.is-checked .el-checkbox__inner {
        background-color: #20a0ff;
        border-color: #0190fe;
    }
    .el-checkbox__inner{
       border-radius: 5px!important; 
    }
    .el-checkbox{
        height: 28px;
        width: 100%;
        line-height: 28px;
    }
    .el-checkbox__label{
        font-size: 14px;
    }
}

// 选择（单选）
.radio-20{
    .el-radio-group{
        width: 100%;
        .el-radio{
            .el-radio__input{
                .el-radio__inner{
                    width: 16px;
                    height: 16px;
                }
            }
            .el-radio__label{
                margin-left: 5px;
                padding-left: 0;
                color: $c3;
            }
        }
    }
}
.radio-21{
    .el-radio-group{
        width: 100%;
        .el-radio{
            .el-radio__input{
                display: none;
                .el-radio__inner{
                    width: 16px;
                    height: 16px;
                }
            }
            .el-radio__label{
                margin-left: 5px;
                padding-left: 0;
                color: $c3;
            }
        }
    }
    li{
        &.active{
            .el-radio__label{
                color: #3195F5 !important;
            }
        }
    }
}
.counter-radio-20{
    .el-radio-group{
        width: 100%;
        .el-radio{
            .el-radio__input{
                .el-radio__inner{
                    width: 20px;
                    height: 20px;
                }
            }
            .el-radio__inner::after {
                width: 12px;
                height: 12px;
                background-color: #2993f8;
            }
            .el-radio__label{
                margin-left: 10px;
                padding-left: 0;
                color: $c3;
            }
        }
    }
}
// 表格里的多选
.el-checkbox-group{
    .el-checkbox{
        height: 40px;
        width: 100%;
        line-height: 40px;
    }
    .el-checkbox__label{
        @include F(0);
    }
    .el-checkbox__inner{
        border-radius: 50%;
    }
    .el-checkbox__input.is-checked .el-checkbox__inner{
        // background-color: $oa;
        // border-color: $oa;
        background-color: #2993f8;
        border-color: #2993f8;
    }
}
.el-checkbox{
        height: 40px;
        width: 100%;
        line-height: 40px;
    }
    .el-checkbox__label{
        @include F(0);
    }
    .el-checkbox__inner{
        border-radius: 50%;
    }
    .el-checkbox__input.is-checked .el-checkbox__inner{
        background-color: $oa;
        border-color: $oa;
    }

    .el-radio {
        &.el-radio-f14-b{
            >.el-radio__label{
                font-size: 14px;
                color: #333;
                display: block;
            }
        }
        // 圆形变正方形
        &.square {
            .el-radio__input {
                &.is-checked {
                    .el-radio__inner {
                        background-color: #20a0ff;
                        border-color: #0190fe;
                        &:after {
                            transform: rotate(45deg) scaleY(1);
                        }
                    }
                }
                .el-radio__inner {
                    display: inline-block;
                    position: relative;
                    border: 1px solid #bfcbd9;
                    border-radius: 4px;
                    box-sizing: border-box;
                    width: 18px;
                    height: 18px;
                    background-color: #fff;
                    z-index: 1;
                    transition: border-color .25s cubic-bezier(.71, -.46, .29, 1.46), background-color .25s cubic-bezier(.71, -.46, .29, 1.46);
                    &:after {
                        box-sizing: content-box;
                        content: "";
                        border: 2px solid #fff;
                        border-left: 0;
                        border-top: 0;
                        height: 8px;
                        left: 5px;
                        position: absolute;
                        top: 1px;
                        transform: rotate(45deg) scaleY(0);
                        width: 4px;
                        transition: transform .15s cubic-bezier(.71, -.46, .88, .6) .05s;
                        transform-origin: center;
                    }
                }
            }
        }
        // 隐藏右边的字体
        &.el-radio-nofont{
            >.el-radio__label{
                display: none;
            }
        }
    }

.el-radio-group {
}