
/* 模块切换 */
.tp-ani-enter-active {
  transition: all 1s ease;
}
.tp-ani-leave-active {
   display: none;
}
.tp-ani-enter{
  transform: translateY(-10px);
  opacity: 0;
}

.slide-height-enter-active {
  transition: all .3s ease;
}
.slide-height-leave-active {
  transition: all .3s ease;
}
.slide-height-enter, .slide-height-leave-active {
  opacity: 0;
}


/*
 * global page width
 */
.ui-page-max-width{ width: 1250px; margin:0 auto;}


.RP_report_wrapper{
    color: #333;
    -webkit-font-smoothing:subpixel-antialiased;
}

/* 
 * 数据表格 模块
 * */
.Rp_dataGrid_container{
    border-radius: 10px;
    box-shadow:0px 0 15px #ddd;
    position: relative;
    background-color: #fff;
    padding: 50px 0 0 0;
    margin-top: 20px;
    
    >.rp_gridState{
        height: 50px;
        padding: 0 20px;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        // z-index: 100;
        >.header-wrap-btn {
            box-sizing: border-box;
            height: 100%;
            float: right;
            .confirm-btn {
                float: left;
                color: #333;
                line-height: 50px;
                font-size: 14px;
                margin-right: 10px;
                input {
                    // width: 198px;
                    width: 150px;
                    height: 26px;
                    // border-radius: 20px;
                    border-radius: 4px;
                    text-align: center;
                    border: 1px solid #eeeeee;
                }
                input:hover {  
                    background-color: #f4f9ff;
                    border: 1px solid #2993f8;
                }
                input::-webkit-input-placeholder{
                    font-size:10px;
                }
                input:-moz-placeholder{
                    font-size:10px;
                }
                input:-ms-input-placeholder{
                    font-size:10px;
                }
            }
            .confirm-btn:hover {
                color: #2993f8;
            }
            
        }
        >.tab{
            float: right;
            margin-top: 11px;
            font-size: 14px;
            height: 28px;
            // overflow: hidden;
            position: relative;
            >span{
              float: left;
              padding: 0 10px;
              text-align: center;
              line-height: 27px;
              cursor: pointer;
              color: #666;
              transition: all .1s;
              &:hover{
                 color: #2993f8; 
              }
              &.active{
                 color: #2993f8;   
              }
              
              
            }
        }
        >.position-group {
            // display: inline-block;
            margin-top: 12px;
            float: right;
            //height: 16px;
            // padding: 0 20px;
            padding-left: 20px;
            &>.btn {
                display: block;
                width: 52px;
                height: 26px;
                text-align: center;
                line-height: 26px;
                color:#2993f8;
                background:#e0ecf7;
                font-size: 12px;
                border-radius: 4px;
                cursor: pointer;
                border: 1px solid #2993f8;
            }
            &>.btn.active {
                color:#fff;
                background:#2993f8;
            }
        }
        .xj-switch {
            //border-left: 1px solid #d6d6d6;
            // display: inline-block;
            margin-top: 12px;
            float: right;
            // padding: 0 20px;
            padding-left: 20px;
            padding-right: 0;
            &>.btn {
                font-size: 12px;
                display: block;
                width: 52px;
                height: 26px;
                text-align: center;
                line-height: 26px;
                color:#2993f8;
                background:#e0ecf7;
                border-radius: 4px;
                cursor: pointer;
                border: 1px solid #2993f8;
            }
            &>.btn.active {
                color:#fff;
                background:#2993f8;
            }
        }
        // >.el-switch{
        //     float: right;
        //     margin-left: 10px;
        //     margin-top: 13px;
        // }
    }
    
    .side-nav{
        height:inherit;
        line-height: 50px;
        float: left;
        
        >i{ margin-right: 7px; color:#2993f8;}
    }
    .sort-wrap {
        float: left;
        height: 50px;
        width: auto;
        margin-left: 20px;
        label {
            height: 50px;
            width: 30px;
            font-size: 12px;
            color:#2993f8;
            font-weight: bold;
            float: left;
            line-height: 50px;
            margin-right: 10px;
        }
        &>div {
            //float: left;
            margin-top: 11px;
            display: inline-block;
            padding: 6px;
            font-size: 12px;
            color:#585858;
            background:#f5f5f5;
            border-radius: 4px;
            margin-right: 10px;
            position: relative;
            &>i {
            position: absolute;
            top: -5px;
            right: -5px;
            font-size: 10px;
            width: 10px;
            height: 10px;
            cursor: pointer;
            display: none;
            color:#2993f8;
            }
        }
        &>div:hover {
            background:#e0ecf8;
            color:#2993f8;
            &>i {
            display: block;
            }
        }
    }
}


/*  */
.ui-table_column{
    height: 40px;
    background-color: #f5f5f5;
    overflow: hidden;
    display: flex;
    border-bottom: 2px solid #e7e7e7;
    .ui-table_th{
        display:inline-block;
        line-height: 40px;
        text-align: center;
        color: #666;
        font-size:12px;
        float: left;
        font-weight: bold;
        transition: all .3s;
        white-space: nowrap;
        text-overflow: ellipsis;
        
        >i{
          font-style:normal;
          color: #999;
          font-weight: normal;
          font-size: 10px;
        }
    }
}


.rp_dataGridTemp{
    position: relative;
    height: 100%;
    padding: 40px 0 40px;
    
    .ui-table_column{
        position: relative;
        width: 100%;
        margin-top: -40px;
    }
}

.ui-table_footer{
    background-color: #2993f8;
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    border-radius: 0 0 4px 4px;
    width: 100%;
    
    >.th_footer{
        display:inline-block;
        text-align: center;
        font-size:12px;
        height: 40px;
        overflow: hidden;
        position: relative;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: #fff; 
        p{
           font-weight: normal;
           color: #fff; 
           font-weight: bold;
           line-height: 40px;
           height: 40px;
           
           >i{
              font-style:normal;
              color: #fff;
              font-weight: normal;
              margin-left: 2px;  
            }
        }
        
        .totalNum{
            font-size: 15px;
            font-weight: bold;
        }
          
    }
}

.ui-table-container{
    height: 402px;
    //overflow-y: auto;
    .tb-tr{
      height: 50px;
      display: flex;
      transition: all .3s;
      &:nth-child(even){
        background-color: #fbfbfb;
      }
      &:hover{
         background-color: #FFFBF3;
      }
      &.table-evet{
        background-color: #fbfbfb;
      }
      .tb-td{
        float: left;
        display: inline-block;
        height: 50px;
        //line-height: 50px;    
        text-align: center;
        font-size: 14px; 
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
        transition: all .3s;
        color: #333;
        
        &.category-td{
            position: relative;
            >i{
                font-style: normal;
                font-size: 15px;
                position: absolute;
                background-color: #f9f8e7;
                display: flex;
                align-items: center;
                width: 98%;
                left: 0;
                top: 0;
                text-align: center;
                justify-content:center
            }
        }
      }
    }
  
  .tb-total{
      background-color: #e9f4fe;
      height: 50px;
      display: flex;
      position: relative;
      z-index: 1;
      
      .tb-td{
        float: left;
        display: inline-block;
        height: 50px;
        line-height: 50px;   
        font-weight: bold; 
        text-align: center;
        font-size: 15px; 
        color: #2993f8;
        transition: all .3s;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
  }
}

.xj-report-table-container{
    height: 515px;
    //overflow-y: auto;
    .tb-tr{
      height: 40px;
      display: flex;
      transition: all .3s;
      border-bottom: 1px solid #f0f2f5;
      &:nth-child(even){
        background-color: #fbfbfb;
      }
      &:hover{
         background-color: #FFFBF3;
      }
      &.table-evet{
        background-color: #fbfbfb;
      }
      .tb-td{
        float: left;
        display: inline-block;
        height: 40px;
        //line-height: 40px;    
        text-align: center;
        font-size: 14px; 
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
        transition: all .3s;
        color: #333;
        
        &.category-td{
            position: relative;
            >i{
                font-style: normal;
                font-size: 15px;
                position: absolute;
                background-color: #f9f9f9;
                display: flex;
                align-items: center;
                width: 98%;
                left: 0;
                top: 0;
                z-index: 100;
                text-align: center;
                justify-content:center
            }
        }
      }
    }
  
  .tb-total{
      background-color: #e9f4fe;
      height: 40px;
      display: flex;
      position: relative;
      z-index: 1;
      
      .tb-td{
        float: left;
        display: inline-block;
        height: 40px;
        line-height: 40px;   
        // font-weight: bold; 
        text-align: center;
        font-size: 14px; 
        color: #333;
        transition: all .3s;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        b {
            color: #2993f8;
        }
      }
  }
}
.xj-report-table-wrap{
    border-radius: 0 4px 4px 4px;
    border: 1px solid #dedede;
    box-shadow: none;
}