.main-wrap{
    width: 1300px;
    //margin-left: 110px;
    // margin: 0 0px 0 241px;
    margin: 0 auto;
    .body-box-left{
        width:1250px;
        min-height: 816px;
        //overflow: hidden;
        margin-right: 40px;
    }
}
